body {
  background-color: dimgray;
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
.container{
  display: flex;
  flex-direction:row-reverse;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.map{
  margin:40px 0;
  padding: 0;
  height: 600px;
  width: 600px;
  background-color: gray;
}
.panel{
  top:0;
  width: 100px;
  height: 600px;
  
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
  
}
.mapChanger{
  margin-bottom: 20px;
}
.navigation{
  margin-bottom: 20px;
}
button {
  color:white;
  font-size: 14px;
  font-weight: 600;
  height: 35px;
  width: 120px;
 
  border-radius: 20px;
  
  margin: 0;
  margin-bottom: 10px;
  background-color:gray;
  transition: 0.2s linear;
}
button[id=beginButton]:hover{
  color:white;
  background-color:#B0FF4D;
}
button[id=targetButton]:hover{
  color:white;
  background-color:#FF4838;
}
button[id=wallButton]:hover{
  color:white;
  background-color: #363636;
}
button[id=pathButton]:hover{
  color:white;
  background-color: #87CEFA;
}
button:hover{
  background-color: white;
  color:rgb(64, 64, 64);
  border-width: 5px;
  border-color:rgb(64, 64, 64) ;
}

input[type=number]{
  color:gray;
  font-size: 12px;
  font-weight: 500;
  height: 35px;
  width: 120px;
  border-radius: 20px;
  
  margin: 0;
  margin-bottom: 20px;
  background-color:white;
  transition: 0.2s linear;
}