body {
  background-color: dimgray;
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
.container{
  display: flex;
  flex-direction:row-reverse;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.map{
  margin:40px 0;
  padding: 0;
  height: 600px;
  width: 600px;
  background-color: rgb(180, 180, 180);
}
.panel{
  top:0;
  width: 100px;
  height: 600px;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
}

button {
  color:white;
  font-size: 12px;
  font-weight: 500;
  height: 35px;
  width: 120px;
 
  border-radius: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
  background-color:gray;
  transition: 0.2s linear;
}
button:hover{
  background-color: white;
  color:rgb(64, 64, 64);
  border-width: 5px;
  border-color:rgb(64, 64, 64) ;
}
input[type=IN]{
  color:white;
  font-size: 14px;

  height: 30px;
  width: 120px;
  border-radius: 15px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  background-color:gray;
  transition: 0.2s linear;
}