body {
    background-color: #343a40;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.map {
    margin: 60px 0;
    padding: 0;
    height: 650px;
    width: 650px;
    background-color: #d4d4d4;
}

.panel{
    top:0;
    width: 100px;
    height: 650px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
  
  }

button {
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;

    background-color: #0d6efd;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    margin-bottom: 15px;
    transition: 0.2s linear;
}

button:hover{
    color:dimgray;
    background-color: white;
}

input[type=number]{
    color: grey;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;

    background-color:white;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    margin-bottom: 15px;
}